body{
    background: #212121 !important;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
}

h2.Display{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
}

button{
    background-color: #f4f4f4;
    border: 0;
    border-radius: 3px;
    color: #000;
    margin: auto;
    display: flex;
    font-size: 20px;
    outline: none;
}

div.container{
    display: block;
    margin: auto;
    text-align: center;
    background: orangered;
}

button:hover{
    background: #000;
    color: #fff;r
}