body{
    background: #212121 !important;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    margin: 0;
}

h2.Display{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    transition: transform 2s ease-out;
    margin: 5px;
    font-size: 252px;
}

h2.frozen{
    /* transform: translateY(-1500%); */
    /* transform: translateY(-3150%); */
    transform: translateY(-2431%);
}

button.getNum {
    background-color: #f4f4f4;
    border-radius: 3px;
    color: #000;
    margin: auto;
    display: flex;
    font-size: 38px;
    outline: none;
    width: 253px;
    height: 70px;
    border: 0;
    text-align: center;
    margin-top: 50px;
    /* text-align: -webkit-match-parent; */
    justify-content: center;
    font-weight: 600;
    padding: 12px;
}

div.container{
    display: block;
    margin: auto;
    text-align: center;
    background: #ecb67e;
    height: 450px;
    margin-top: 15%;
    overflow: hidden;
    width: 100%;
}

button:hover{
    background: #000;
    color: #fff;
}